<div id="<%= dom_id task %>" class="col-7">
  <div class="shadow rounded p-5 bg-light">

    <h3 class="text-muted mb-3"><%= task.project.name %></h3>
    <div class="card bg-white p-3 mb-3">
      <%= task.description %>
    </div>

    <small>Status:</small>
    <% if task.completed %>
      <small class="float-end text-success">
        completed
      </small><br>
    <% else %>
      <small class="float-end text-danger">
        not completed
      </small><br>
    <% end %>
  </div>
</div>
