<div id="<%= dom_id task %>" class="col-7">
  <div class="shadow rounded p-5 bg-light">
    <hr>
    <p>
      <strong>Description:</strong>
      <%= task.description %>
    </p>
    <p>
      <small class="text-muted">
        <%= task.completed ? "completed" : "not completed" %>
      </small><br>
    </p>
    <hr>
    <p>
      <strong>Project:</strong>
      <%= task.project.name %>
    </p>
  </div>
</div>
