<% @projects.each do |project| %>
  <h1 class="mb-3 text-light display-6">
    <%= project.name %> tasks
  </h1>
  <% @tasks.each do |task| %>
    <%= render task %>
    <div class="">
      <%= link_to "Show task", task, class: "card shadow rounded p-4 bg-light text-center mb-5 col-7" %>
    </div>
  <% end %>
<% end %>
