<h1 class="mb-3 text-light display-6">New task</h1>

<%= render "form", task: @task %>
<br>
<div class="card shadow rounded p-4 bg-light text-center mb-5 col-8">
  <%= link_to "Back to tasks", tasks_path, class: "text-secondary" %>
</div>
