<%= render @task %>

<div class="card shadow rounded p-4 bg-light text-center col-7">
  <%= link_to "Edit task", edit_task_path(@task) %><br>
  <%= button_to "Destroy task", @task, method: :delete, class: "m-0 p-0 btn btn-link text-danger text-decoration-none" %>
</div>
