<h1 class="mb-5 text-light display-6">New project</h1>

<%= render "form", project: @project %>

<div class="card shadow rounded p-4 bg-light text-center mb-5 col-8">
  <%= link_to "Back to projects", projects_path, class: "text-secondary" %>
</div>
