<%= render @project %>

<div>
  <%= link_to "Edit this project", edit_project_path(@project) %><br>
  <%= link_to "Back to projects", projects_path, class: "text-secondary" %><br>
  <%= button_to "Destroy this project", @project, method: :delete, class: "m-0 p-0 btn btn-link text-danger text-decoration-none" %>
</div>
