// LINKS

a {
  text-decoration: none !important;
}


// CALENDAR STYLES

.simple-calendar {
  .day {}

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    background-color: #B6FF6F !important;
  }
  .past {}
  .future {}

  .start-date {}

  .prev-month {
    opacity: .5;
  }
  .next-month {}
  .current-month {}

  .has-events {
    background-color: #CAFF97;
  }
}

.wday-0 {
  color: red !important;
}

.card-body {
  max-height: 100px;
  overflow-y: auto;
}


// BACKGROUND COLOR

.bg-light-info {background-color: #8CE5F6;}
.bg-light-grey {background-color: #BABDB6;}
.bg-footer     {background-color: #C6F6FF;}
.bg-footer-cal {background-color: #EBECED;}
.bg-black      {background-color: black;}


// TASK CARD

.tasks {
  overflow-x: auto;
}
.task {
  min-width: 200px;
}


// COMPLETION STYLES

.completed {
  border-bottom: green solid 3px !important;
}

.uncompleted {
  border-bottom: red solid 3px !important;
}


// NAVBAR

.navbar {
  z-index: 1000;
}
